<html lang="en">
{% extends "tasks/base.html" %}

{% block title %}All Tasks{% endblock %}

{% block content %}
    <h1>All Tasks</h1>
    {% for task in tasks %}
        <div lang="en" class="task-item">
            <p><strong>Title:</strong> {{ task.title }} <a href="{% if task.is_completed %}{% url 'tasks:task_detail' task.id %}{% else %}{% url 'tasks:task_detail_all' task.id %}{% endif %}">(Show)</a></p>
            <p style="text-align: justify;"><strong>Description:</strong> {{ task.description|truncatewords:20 }}</p>
            <p><strong>Status:</strong> <span class="status {% if task.is_completed %}completed{% else %}not_complete{% endif %}">{{ task.is_completed|yesno:"Completed,Pending" }}</span></p>
            <p><strong>Created at:</strong> {{ task.created_at }}</p>
            <p><strong>Updated at:</strong> {{ task.updated_at }}</p>
        </div>
    {% empty %}
        <p>No tasks available.</p>
    {% endfor %}
    
    <a href="{% url 'tasks:task_main' %}" class="back-btn">Back to Main</a>
{% endblock %}